# CORS options
Header Set Access-Control-Allow-Origin "*"

# Enable Authorization in apache
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

Option -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tasks
RewriteRule tasks/([0-9]+)$ controller/task.php?taskid=$1 [L]
RewriteRule tasks/complete$ controller/task.php?completed=Y [L]
RewriteRule tasks/incomplete$ controller/task.php?completed=N [L]
RewriteRule tasks/page/([0-9]+)$ controller/task.php?page=$1 [L]
RewriteRule tasks$ controller/task.php [L]

# Users
RewriteRule users$ controller/users.php [L]

# Authentication Sessions
RewriteRule sessions/([0-9]+)$ controller/sessions.php?sessionid=$1 [L]
RewriteRule sessions$ controller/sessions.php [L]