php_flag display_errors on

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule tasks/([0-9]+)$ controller/task.php?taskid=$1 [L]
RewriteRule tasks/complete$ controller/task.php?completed=Y [L]
RewriteRule tasks/incomplete$ controller/task.php?completed=N [L]
RewriteRule tasks$ controller/task.php [L]

</IfModule>